html {
  scroll-behavior: smooth;
}

$enable-negative-margins: true;

.BG {
  background-image: url("/Enactus-Emi-Website/Pictures/footer_white.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  height: 779px;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: color-burn;
}

//Navbar Start

.navbar {
  font-family: "ubuntu", "roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  color: white;
  width: 100%;
  height: 45px;
  background: url("Pictures\\navbar_bg.jpg");
  background-color: #B67929;
  background-position: center;
  background-size: 50%;
  background-blend-mode: color-burn;

  .navbar-btn-image::before {
    display: none;
  }
  
  .navbar-logo {
    width: 60%;
  }

  .navbar-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .navbar-btn {
      font-family: "Ubuntu", sans-serif;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: 600;
      font-size: 17px;
      cursor: pointer;
      height: 100%;
      border-radius: 10px 10px 0 0;
      width: 180px;
    }
  }
}

#home:hover,
#about:hover,
#admission:hover,
#examens:hover,
#contact:hover,
#associationDP:hover,
#connection {
  color: rgb(194, 194, 194);
  transition: color 0.3s ease-in-out;
}

.navbar-btn::before {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 10px;
  background: #FFC000;
  transition: all 0.5s ease;
  width: 0;
}
.navbar-btn:hover::before,
#connection::before {
  width: 3%;
}

//Navbar End

//Entrer en contact start

.get {
  height: 520px;
  width: 585px;
  background-color: #fdfcfa;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}


.get_text {
  color: #b67929;
  font-weight: 700;
  margin-left: 1.6rem;
}

.new {
  display: block;
  height: 50px;
  width: 264px;
  background-color: #d9d9d9;
  padding: 0 20px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  border-style: none;
  // border: 1px solid #7D7D7D;
  letter-spacing: 0.5px;
  outline: none;
}
::placeholder {
  color: rgb(38, 75, 119, 0.7);
}
.new,
select,
textarea {
  color: #00243f;
}

.sujet {
  width: 536px;
}

.message {
  height: 200px;
  width: 536px;
  resize: none;
}

.form_all {
  padding-top: 6.1rem;
}

.button_send {
  width: 200px;
  background-color: #fdfcfa;
  color: #00243f;
  cursor: pointer;
  border: 3px solid #b67929;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-left: 1.7rem;
}

.button_send:hover {
  background-color: #00243f;
  color: #fdfcfa;
}

//Entrer en contact end

.contact {
  height: 540px;
  width: 300px;
  background-color: #00243f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contact_title {
  color: #b67929;
  font-weight: 700;
  white-space: nowrap;
  margin-top: -0.6rem;
}

.text_contact {
  color: #fdfcfa;
  text-decoration: underline;
  font-weight: 300;
}


.all {
    opacity: 0;
	animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Footer



.footer {
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7px;
  margin: 0;
  padding: 40px;
  width: 140%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #cd7f32, #a25636, #6f3730, #3a1e21, #000000);
  color: #F5F5F5;
  border: 1px solid #e2e8f0;
  margin-top: 3%;
  // transform: translateX(-5rem);
}

.footer-about-us-text {
  text-align: justify;
  padding-right: 2rem;
  padding-top: 1rem;
}

.footer-about-us-text:first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 45px;
  line-height: 60px;
  padding-top: 8px;
  padding-right: 9px;
  padding-left: 3px;
}

.left, .right {
  margin-left: 13rem;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
